.body {
    background-color: #F7EBD4;
    font-family: Verdana, Helvetica, sans-serif;
}

.header {
    background-color: #FDDC22;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin: 250px;
}

.header h1 {
    text-align: center;
    background-color: #FBA90A;
    border-radius: 25px;
    margin: 10px;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

header p {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
    border-radius: 25px;
    line-height: 2;
}

.button-start{
    text-align: center;
    margin-bottom: 30px;
}

.button-start button {
    background: #FBA90A;
    border: none;
    border-radius: 25px;
    color: #313409;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 32px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.button-start button:hover {
    background: #FB8604;
    font-style: italic;
}

.quiz-container {
    background-color: #FBA90A;
    margin: 10rem;
    border: 10rem;
}

.tracker-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #FDDC22;
    font-size: 24px;
    font-weight: bold;
}

.score-container {
    padding: 30px;
}

.timer-container {
    padding: 30px;
}

.question-container {
    background: #FDDC22;
    margin: 3rem;
    font-size: 32px;
    border-radius: 40px;
}

.question-container h1 {
    padding: 15px;
}

.choice-container {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    font-size: 24px;
}

.choice-text {
    background-color: #FDDC22;
    width: 40%;
    padding: 30px;
    font-size: 25px;
    margin: 10px;
    border-radius: 40px;
    border: none;
}

.choice-text:hover {
    background-color: #FB8604;
    font-style: italic;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.popup {
    padding: 5px;
    font-size: 25px;
    margin: 50px;
}

.results-form {
    background-color: #FDDC22;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin: 250px;
}

.final {
    background: #FDDC22;
    font-size: 30px;
    padding: 15px;
    margin: 20px;
    text-align: center;
}

.form-initials {
    padding: 30px;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

#text-input {
    font-size: 20px;
    background-color: #FCBA12;
    border-radius: 40px;
    padding: 15px;
}

#save-info {
    font-size: 20px;
    background-color: #FCBA12;
    border-radius: 40px;
    padding: 15px;
}

.storage-container {
    background-color: #FDDC22;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin: 250px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.hide {
    display: none;
}

.show {
    display: block;
}


/*media query adjustments*/
@media screen and (max-width: 980px) {
    header p {
        text-align: center;
        font-size: 24px;
        padding: 15px;
        border-radius: 25px;
    }
    
    .question-container {
        font-size: 26px;
    }

    .choice-text {
        width: 60%;
        font-size: 22px;
    }

    .storage-container {
        font-size: 26px;
    }

    .final {
        font-size: 26px;
    }

    .results-form {
        margin: 20px;
    }
}


@media screen and (max-width: 768px) {
    .header {
        margin: 25px;
    }

    .question-container {
        font-size: 18px;
    }

    .choice-text {
        width: 70%;
        padding: 15px;
        font-size: 22px;
    }

    .results-form {
        margin: 20px;
    }

    .storage-container {
        margin: 20px;
    }
}


@media screen and (max-width: 575px) {
    .header {
        margin: 20px;
    }

    .quiz-container {
        margin: 20px;
    }

    .choice-text {
        width: 100%;
    }
}