.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin: 20px 20px;

}

.button-start{
    text-align: center;
    
}

.button-start button {
    background: green;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    
    padding: 15px 32px;
}

.quiz-container {
    margin: 10rem;
    border: 10rem;

}

.tracker-container {
    display: flex;
    justify-content: space-around;
    background: lightskyblue;
    font-size: 24px;
}

.timer-container {
    
    
}

.question-container {
    background: lightskyblue;
    margin: 3rem;
    font-size: 32px;
}

.allchoices-container {
    background: lightpink;
    margin: 2rem 2rem;
    padding: 10px 15px;
    border: 2px solid darkblue;
    border-radius: 2rem;
    font-size: 20px;
}

.choice-container {
    
    border: 2px solid darkblue;
    border-radius: 2rem;
    margin: 2rem;
    padding: 2rem;
    font-size: 24px;
}

.choice-text {
    width: 100%;
}

.correct {
    background: green;
}

.wrong {
    background: red;
}